name: CI
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
jobs:
  build-and-test:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      fail-fast: false
      matrix:
        operating-system: [ ubuntu-latest, windows-latest, macos-latest]
    permissions:
      checks: write
      pull-requests: write
      contents: read
      packages: read 
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'corretto'
          java-version: |
            11
            21
            25
          cache: 'gradle'
      - name: Build fray and run tests
        run: ./gradlew build
      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v5
        if: failure()
        with:
          report_paths: '**/build/test-results/test/TEST-*.xml'
